@charset "utf-8";
/* CSS Document */
@media screen and (max-width: 1920px) {
    .body{
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        background-color: #f6f6f6;
        padding-top: 10px;}
        
        .tiles{
        display: flex;
        justify-content: space-around;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;}
        
        .tile{
        background-color: white;
        max-width: 100%;
        width: 20%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-self: stretch;
        justify-items: left;
        text-align: start;
        margin-left: 10px;
        margin-bottom: 10px;}
        
        .tiles1{
        margin-top: 25px;
        display: flex;
        justify-content: space-around;
        justify-content: left;
        align-items: center;
        margin-bottom: 10px;}
        
        .tile1{
        background-color: white;
        max-width: 100%;
        width: 49%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-self: stretch;
        justify-items: left;
        text-align: start;
        margin-left: 10px;
        margin-bottom: 10px;}   
        
        .tile2{
        background-color: white;
        max-width: 100%;
        width: 25%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-self: stretch;
        justify-items: left;
        text-align: start;
        margin-left: 10px;
        margin-bottom: 10px;}     
        
        .minortext{
        color: #6e6362;
        justify-self: left;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: justify;
        font-size: 12px;
        line-height: 20px;}
        
        .more{
        color: rgb(25, 25, 25);
        justify-self: left;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 10px;
        text-decoration: none;}
        
        :hover.more{color: rgb(225, 118, 7);}
        
        .card{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 25px;
        margin-right: 25px;}
        
        .imgtile{
        justify-self: center;
        align-self: center;
        width: 35%;}	
        
        .texttile{
        width: 55%;
        align-self: center;}
        
        .imgtile1{
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        align-self: center;}
        
        .texttile1{
        width: 60%;
        justify-items: left;
        align-self: center;
        margin: 10px;}	
        
        .highlight1{
        color: rgb(225, 118, 7);
        justify-self: left;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 10px;}	
        
        .icon2{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        height: 100px; 
        width: 100px;}
        .text{
        color: #6e6362;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: justify;
        font-size: 14px;
        line-height: 20px;}
        
        .sectiontitle{
        color: rgb(25, 25, 25);
        font-size: 20px;
        text-align: center;
        top: 120px;}
        
        .image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        max-width: 500px;}
        
}

@media screen and (max-width: 416px){ 
} 