@charset "utf-8";
/* CSS Document */
       
@media screen and (max-width: 1920px) {
    .body{
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        background-color: #f6f6f6;
        padding-top: 10px;}
        
        :hover.more{color: rgb(225, 118, 7);}
        
        .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-content: center;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 25px;
        margin-right: 25px;}
        
        .card1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-content: center;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 25px;
        margin-right: 25px;}

        .imgtile{
        justify-self: center;
        align-self: center;
        width: 35%;}	
        
        .texttile{
        align-self: center;}
        
        .imgtile1{
        margin-left: auto;
        margin-right: auto;
        align-self: center;}
        
        .texttile1{
        justify-items: left;
        align-self: center;
        margin: 10px;}	
        
        .highlight1{
        color: rgb(225, 118, 7);
        justify-self: left;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 10px;}	
        
        .icon2{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        height: 100px; 
        width: 100px;}
        .text{
        color: #6e6362;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: justify;
        font-size: 14px;
        line-height: 20px;}
        
        .sectiontitle{
        color: rgb(25, 25, 25);
        font-size: 20px;
        text-align: center;
        top: 120px;}
        
        .image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        max-width: 500px;}
                    
}


@media screen and (max-width: 415px){
    .body{
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        background-color: #f6f6f6;
        padding-top: 10px;}

        :hover.more{color: rgb(225, 118, 7);}
        
        .card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;}

        .card1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-content: center;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 5px;
        margin-right: 5px;}
        
        .imgtile{
        justify-self: center;
        align-self: center;}	
        
        .texttile{
        align-self: center;}
        
        .imgtile1{
        margin-left: auto;
        margin-right: auto;
        align-self: center;}
        
        .texttile1{
        justify-items: left;
        align-self: center;
        margin: 10px;}	
        
        .highlight1{
        color: rgb(225, 118, 7);
        justify-self: left;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 10px;}	
        
        .icon2{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        height: 100px; 
        width: 100px;}
        .text{
        color: #6e6362;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: justify;
        font-size: 14px;
        line-height: 20px;}
        
        .sectiontitle{
        color: rgb(25, 25, 25);
        font-size: 20px;
        text-align: center;
        top: 120px;}
        
        .image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        max-width: 100%;}
                    
    
} 